* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}

body {
  background-color: var(--primary-color);
  --primary-color: black;
  --secondary-color: white;
  --special-color: rgba(57, 230, 230, 0.5);
}

.night {
  background: var(--primary-color);
}

.day {
  background-color: var(--secondary-color);
}

.regular {
  color: var(--primary-color);
}

.timeOfDay-btn {
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#btn-day,
#btn-night {
  position: relative;
  float: right;
  width: 100px;
  height: 200px;
  height: 35px;
  margin-right: 5px;
  text-align: center;
  font-family: "Prociono", serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1.5px;
  border-radius: 50px;
  background-color: transparent;
  color: var(--secondary-color);
  box-shadow: 0px -1px 10px 2px var(--special-color);
  border: 2px solid transparent;
}

#btn-day:hover,
#btn-night:hover {
  background-color: var(--special-color);
  color: var(--primary-color);
  opacity: 0.7;
  transition: ease-in-out;
  transition-duration: 1000ms;
  border: 2px solid var(--special-color);
  cursor: pointer;
}

#btn-day:focus,
#btn-night:focus {
  outline: none;
}

.container {
  margin-bottom: 15vh;
  max-width: 1200px;
  padding: 0 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  color: var(--secondary-color);
  text-align: center;
  font-family: "Prociono", serif;
  font-weight: bold;
  font-size: 2rem;
}

span {
  padding: 5px;
  margin: 10px;
  font-size: 1.7rem;
  color: var(--special-color);
}

.img-sizing {
  max-width: 100%;
}

.img-gallery {
  margin: 2rem;
  padding: 20px 20px 10px 20px;
  box-shadow: 0px -1px 15px 0px var(--special-color);
  border-radius: 4%;
  
}

.img-gallery img {
  display: block;
  opacity: 0.6;
  filter: alpha(opacity= 60%);
  animation-name: images;
  animation-delay: -2ms;
  animation-duration: 3000ms;
}

@keyframes images {
  0% {
    transform: translateY(-1300px) rotateY(0deg);
  }

  100% {
    transform: translateY(0px) rotateY(360deg);
  }
}

.img-gallery p {
  text-align: center;
  font-size: 15px;
  padding-top: 10px;
  color: var(--secondary-color);
  font-family: "Prociono", serif;
  font-weight: bold;
  letter-spacing: 1.2px;
}

.img-gallery img:hover {
  opacity: 1;
  transform: rotateY(180deg);
  filter: alpha(opacity= 100%);
  transition: ease-in-out;
  transition-duration: 2000ms;
}

/* Footer */

.footer {
  position: relative;
  width: 100%;
  height: 45px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-size: 15px;
  font-family: "Prociono", serif;
  font-weight: bold;
  letter-spacing: 1.2px;
  border-top: 2px solid var(--special-color);
}

/* Medium Screen - Table */

@media screen and (min-width: 600px) {
  body {
    overflow-x: hidden;
  }

  .container {
    margin-bottom: 15vh;
  }

  .timeOfDay-btn {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #btn-day,
  #btn-night {
    position: relative;
    float: right;
    width: 100px;
    height: 200px;
    height: 35px;
    margin-right: 5px;
    text-align: center;
    font-family: "Prociono", serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1.5px;
    border-radius: 50px;
    background-color: transparent;
    color: var(--text-color);
    box-shadow: 0px -1px 10px 2px var(--special-color);
    border: 2px solid transparent;
  }

  #btn-day:hover,
  #btn-night:hover {
    background-color: var(--special-color);
    color: var(--primary-color);
    opacity: 0.7;
    transition: ease-in-out;
    transition-duration: 1000ms;
    outline: none;
    border: 2px solid var(--special-color);
    cursor: pointer;
  }
  #btn-day:focus,
  #btn-night:focus {
    outline: none;
  }

  h1 {
    color: var(--secondary-color);
    text-align: center;
    padding: 12px;
    margin: 10px;
    font-family: "Prociono", serif;
    font-weight: bold;
    font-size: 1.7rem;
  }

  span {
    padding: 5px;
    margin: 10px;
    font-size: 1.7rem;
    color: var(--special-color);
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .img-gallery {
    width: 50%;
    padding: 20px 20px 10px 20px;
    box-shadow: 0px -1px 15px 0px var(--special-color);
    border-radius: 4%;
    margin: 1rem;
    width: calc(50% - 2rem);
  }

  .img-gallery img {
    opacity: 0.6;
    filter: alpha(opacity= 60%);
  }

  .img-gallery img:hover {
    opacity: 1;
    filter: alpha(opacity= 100%);
    transition: ease-in-out;
    transition-duration: 2000ms;
    font-family: "Prociono", serif;
  }

  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    font-family: "Prociono", serif;
    font-weight: bold;
    letter-spacing: 1.2px;
    border-top: 2px solid var(--special-color);
  }
}

/* Desktop */

@media screen and (min-width: 1000px) {
  body {
    overflow-x: hidden;
  }

  .container {
    margin-bottom: 15vh;
  }

  .timeOfDay-btn {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  #btn-day,
  #btn-night {
    position: relative;
    float: right;
    width: 100px;
    height: 200px;
    height: 35px;
    margin-right: 10px;
    text-align: center;
    font-family: "Prociono", serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1.5px;
    border-radius: 50px;
    background-color: transparent;
    color: var(--secondary-color);
    box-shadow: 0px -1px 10px 2px var(--special-color);
    border: 2px solid transparent;
  }

  #btn-day:hover,
  #btn-night:hover {
    background-color: var(--special-color);
    color: var(--primary-color);
    opacity: 0.7;
    transition: ease-in-out;
    transition-duration: 1000ms;
    outline: none;
    border: 2px solid var(--special-color);
    cursor: pointer;
  }
  #btn-day:focus,
  #btn-night:focus {
    outline: none;
  }

  h1 {
    color: var(--secondary-color);
    text-align: center;
    padding: 12px;
    margin: 10px;
    font-family: "Prociono", serif;
    font-weight: bold;
    font-size: 1.7rem;
  }

  span {
    padding: 5px;
    margin: 10px;
    font-size: 1.7rem;
    color: var(--special-color);
  }

  .img-gallery {
    padding: 20px 20px 10px 20px;
    box-shadow: 0px -1px 15px 0px var(--special-color);
    border-radius: 4%;
    width: calc(100% / 3);
    margin: 1rem;
    width: calc(33.3333% - 2rem);
  }

  .img-gallery img {
    opacity: 0.6;
    filter: alpha(opacity= 60%);
  }

  .img-gallery img:hover {
    opacity: 1;
    filter: alpha(opacity= 100%);
    transition: ease-in-out;
    transition-duration: 2000ms;
    font-family: "Prociono", serif;
  }

  .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    font-family: "Prociono", serif;
    font-weight: bold;
    letter-spacing: 1.2px;
    border-top: 2px solid var(--special-color);
  }
}
